.Projects {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 48px;
    margin-top: 64px;
    margin-left: 25%;
    margin-bottom: 64px;
}
.card {
    height: 500px;
    width: 700px;
    border-radius: 3px;
    display:grid;
    grid-template-rows: 200px 100px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}
.cardImage {
    background-color: darkblue;
    margin: 16px;
}
.cardTitle {
    margin: 8px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.cardText {
    margin: 4px;
    text-align: center;
}
.projectImage {
    height: 300px;
    width: 100%;
}
#navItem {
    text-align: center;
}
@media (max-width: 600px) {
    .Projects {
        grid-template-columns: 1fr;
        height: 300px;
        width: 200px;
    }
    
}